# go noise
*.6
*.8
*.o
*.so
*.out
*.go~
*.cgo?.*
_cgo_*
_obj
_test
_testmain.go

# Vim noise
*.swp

# node, npm, etc etc
node_modules/
npm-debug.log
bower_components/

# Just noise
*~
*.orig

# build noise
lush
!src/lush
*.exe
/bin/
/client/build/
/client/static/
lush-*-386
lush-*-amd64
