{{/*
Copyright © 2013, 2014 Hraban Luyat <hraban@0brg.net>

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies
of the Software, and to permit persons to whom the Software is furnished to do
so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/}}

{{define "/"}}<!doctype html>
<html>
<head>
    <title>lush - Luyat shell</title>

<link rel="shortcut icon" href="/gnome-terminal.png">
<link rel=stylesheet href=/css/smoothness/jquery-ui-1.10.2.min.css>
<link rel=stylesheet href=/css/jquery.terminal.css>
<link type="text/css" rel="stylesheet" href="/css/base.css">
<script src="/js/ext/require.js"></script>
<script src="/js/lush.js"></script>

</head>
<body data-status=loading>

<!-- all visible content. divided in two columns: #left and #right. -->
<div id=bodycontainer>

  <!-- the left column. tabbed: terminal, config, history -->
  <div id=left class=tabs-bottom>
    <ul>
      <li><a href="#terminalwrap">terminal</a></li>
      <li><a href="#history">history</a></li>
      <li><a href="#config">config</a></li>
    </ul>
    <!-- jquery ui tabs don't play too nicely with jquery.terminal plugin -->
    <div id=terminalwrap>
      <div id=terminal></div>
    </div>
    <div id=history>
      <ul ></ul>
    </div>
    <div id=config>
      <strong>global config</strong><br>
      <button id=newcmd>new command</button>
      <p>Path: <a data-toggle-class="hidden"  href="#pathcontainer">(toggle)</a>
      <div id=pathcontainer class=hidden>
        <form id=path>
        <ol class="sortable"></ol>
        </form>
      </div>
      <a href=# id=delete_archived_and_completed>
        Delete all archived & completed commands</a>
      <p><a href=#history data-toggle-class=hide_archived >show / hide archived history</a>
    </div>
  </div>

  <div id=right>

    <!-- command widgets -->
    <div id="cmds"></div>

    <!-- PER-COMMAND CONFIG -->
    <!-- When associating a command, set data-associated="id". To disassociate,
         delete that entire attribute (i.e. initial state is disassociated).
         Don't just empty it, remove it. -->
    <div id=cmddetailarea class=tabs-bottom >

      <!-- Shown when no command is selected -->
      <div id=cmddetailarea_disassociated>
        <p>Click on a command widget to activate this part.
      </div>

      <!-- Shown when a command is selected -->
      <div id=cmddetailarea_associated>

        <ul>
          <li><a href="#cmdsummary">summary</a></li>
          <li><a href="#cmdedit">edit</a></li>
          <li><a href="#cmdstdout">stdout</a></li>
          <li><a href="#cmdstderr">stderr</a></li>
          <li><a href="#cmdhelp">help</a></li>
        </ul>

        <div id=cmdsummary>
          <table>
            <tfoot>
              <td colspan=2>
                <sup>1</sup> Working directory at startup time, not updated live
              </td>
            </tfoot>
            <tbody>
              <tr>
                <th>argv</th>
                <td><tt id=cmdsummary_argv></tt></td>
              </tr>
              <tr>
                <th>cwd</th>
                <td><tt id=cmdsummary_cwd></tt></td>
              </tr>
                <th>starting wd</th>
                <td><tt id=cmdsummary_startwd></tt></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div id=cmdedit>
          <form>
          <fieldset id=cmdedit_argv>
            name <input name=cmd><br>
            args: <input size=10 name=arg1>
          </fieldset>
          <h2>Configuration</h2>
          <p>stdout scrollback: <input size=4 name=stdoutScrollback value=1000> bytes<br>
          stderr scrollback: <input size=4 name=stderrScrollback value=1000> bytes
          </form>
        </div>

        <div id=cmdstdout>
          <span class=forwarded>forwarded to: <span id=stdouttoid></span> <a href="">(disconnect)</a></span>
          <pre class=streamdata></pre>
        </div>

        <div id=cmdstderr>
          <span class=forwarded>forwarded to: <span id=stderrtoid></span> <a href="">(disconnect)</a></span>
          <pre class=streamdata></pre>
        </div>

        <div id=cmdhelp>
        </div>

      </div> <!-- /#cmddetailarea_associated -->

    </div> <!-- /#cmddetailarea -->

  </div> <!-- /# right -->

</div> <!-- /#bodycontainer -->

<!-- this one is always below all other visible elements. result: scrolling to
the bottom of the page programmatically can be done by bringing this node into
focus. -->
<div id=bottomofpage></div>

<!--
HTML template for a command widget. The rootcontainer node is never moved
around: it remains as a direct child of #cmds.
-->
<div id=rootcontainer_template class=rootcontainer>
<div class=windowbuttons>
  <button class=repeatgroup>↻</button>
  <button class=startgroup>▶</button>
  <button class=archivegroup>_</button>
  <button class=releasegroup>x</button>
</div>
<!--
This is the groupwidget: it contains the cmd widget (directly), and all
children of this command (in .children). Those children are contained in their
respective group widgets. Accordingly, this groupwidget can, itself, be moved to
the .children node of another command when it becomes its child, leaving this
.rootcontainer empty.
-->
<div id=groupwidget class=groupwidget>

  <!-- this is the widget that you actually see -->
  <div  class='cmdwidget'>
    <span class=id></span>:
    <tt class=argv></tt>
    <span class=status></span>
    <a class='ui-icon ui-icon-link bookmark'
       title='link to bookmark this command'></a>
  </div> <!-- /.cmdwidget -->

  <div class=children></div>

</div>
</div> <!-- /#rootcontainer_template -->

<p id=connection_error> connection error, please reload the page</p>

<div id=loading>
    <div id=hahaha><div id=youmustthink><div id=thatIcare><div id=aboutthemarkup><div id=exlamationmarks><div id=hahahahahah><div id=WELLIDONT><div id=SOYOUCANSUCKIT><div id=CSS><div id=yeahthatsright><div id=exclamationmark><div id=youcenteralignedvertically><div id=soIwin><div id=youthought><div id=thatjustbecauseyIhadtouseanextrawrappingdiv><div id=youwin><div id=questionmark><div id=HA><div id=thatdontevenphaseme><div id=bro><div id=wrappingdivs><div id=Ishitwrappingdivs><div id=andthenIpackagethem><div id=andsendthemtotheW3C><div style=" display: table" >
    <p>loading, please wait...</p>

</dealwithit>


<script>
var mydebug = 1234;
var cmds_init = {
{{range .}}
{{.Id}}: {{.Metadata}},
{{end}}
};
</script>
<script>
requirejs(["lush/main"]);
</script>
</body>
</html>
{{end}}
